<h2>Filmes</h2>  

<ul>
    <h3>Filmes lançados</h3>
<% @movies_released.each do | movie | %>   
    <li> <%= link_to "#{movie.title} ", movie%> |
        <%= movie.release_date.year %>
    </li> 
<% end %>
</ul>

<ul>
    <h3>Filmes a ser lançados</h3>
<% @movies_to_release.each do | movie | %>   
    <li> <%= link_to "#{movie.title} ", movie%> |
        <%= movie.release_date.year %>
    </li> 
<% end %>
</ul>

<%= link_to 'Cadastrar Film', new_movie_path %> 