<% if flash[:notice]%>
	<div>
	<%= flash[:notice]%>
	</div>
<%end%>

<%= form_with model: @director do | f | %>

  <div>
    <%= f.label 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label 'Sobrenome' %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label 'Nascimento' %>
    <%= f.date_field :birth_day %>
  </div>

  <div>
    <%= f.label 'Pais' %>
    <%= f.text_field :country %>
  </div>

  <div>
    <%= f.label 'Gênero favorito' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  </div>

	<div>
		<%= f.submit 'Salvar' %>
	</div>

<%end%>   