<% if flash[:notice]%>
	<div>
	<%= flash[:notice]%>
	</div>
<%end%>

<%= form_with model: @director do | f | %>

  <div>
    <%= f.label 'Nome' %>
    <%= f.text_field :name %>
  </div>

    <div>
    <%= f.label 'Sobrenome' %>
    <%= f.text_field :last_name %>
    </div>

    <div>
    <%= f.label 'Nascimento' %>
    <%= f.date_field :birth_day %>
    </div>

	<div>
		<%= f.submit 'Salvar' %>
	</div>

<%end%>   