<p><%= link_to 'Editar', edit_director_path %></p>
<dl> 
    <dt>
        <strong>Nome: </strong><%= @director.name + ' ' + @director.last_name %>
        
    </dt>

    <dd>
        <strong>Nascimento: </strong><%= @director.birth_day.to_date %>
    </dd>

    <dd>
        <strong>Pais: </strong><%= @director.country %>
    </dd>

    <dd>
        <strong>Gênero favorito: </strong><%= @director.genre.name %>
    </dd>
 </dl>  

<ul>
<% @movies.each do | movie | %>   
    <li> <%= link_to "#{movie.title} ", movie%> |
        <%= movie.release_date.year %>
    </li> 
<% end %>
</ul>