
<h2><%= @director.name + ' ' + @director.last_name %></h2>
<dl> 
    <dd>
        <strong>Nascimento: </strong><%= @director.birth_day.to_date %>
    </dd>

    <dd>
        <strong>Pais: </strong><%= @director.country %>
    </dd>

    <dd>
        <strong>Gênero favorito: </strong><%= @director.genre.name %>
    </dd>
 </dl> 

 <p><%= link_to 'Editar', edit_director_path %></p>

 <h3>Filmes</h3>

<ul>
<%= render partial: 'movies/movies', locals: {movies: @movies} %>
</ul>  

